.div_1
{
    background-color: red;
    height: 100px;
    width: 100px;
}
.div_2
{
    background-color: lightblue;
    height: 100px;
    width: 100px;
}
.div_3
{
    background-color:purple;
    height: 100px;
    width: 100px;
}